body {
    padding: 20px, 20px, 20px, 20px;
    background-image: url(Images/symphony.png);
}

h1 {
    color: navy;
    margin-left: 20px;
    border-bottom: 1px solid #7403AB;
    text-align: center;
}

h2 {
    color: purple;
    border-bottom: 1px solid #7403AB;
}

a: hover {
    color: red;
}

.nav {
    background-color: #336699;
    text-align: center;
}

.nav li {
    padding: 6px 3px 0 12px;
    display: inline;
}

.nav a {
    color: #ffffff;
}

.main {
    background-color: lightblue;
}